weights/
data_test/
robotic-grasping/
imgs/
__pycache__/
api.key
*.key
cached_prompt
test_model.ipynb
GraspAnything/
simulated_demo/
data-real/
main_batch.ipynb
*.json
images/
dataset/
gradio_demo/
runs/
out/
detectron2/detectron2/layers/csrc/**/*.hip
detectron2/detectron2/layers/csrc/**/*_hip.cpp
detectron2/detectron2/layers/csrc/**/*_hip.h
detectron2/detectron2/layers/csrc/hip_version.hip